.sidebar{
    background-color: var(--color-bg-block);
    border: 1px solid var( --color-border);
    padding: 30px 0px;
    width: 350px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    min-height: 87vh;
    z-index: 2;
    position: relative;
    transition: 0.3s ease;
}

.open{
    width: 155px;
}

.open p{
    display: none;
}
.open h4{
    display: none;
}

.user{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-white);
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 25px;
}

.user img{
    width: 55px;
    height: 55px;
    border-radius: 50px;
    object-fit: cover;
}

.user h4{
    font-size: 18px;
    font-weight: 500;
}

.user p{
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
}

.solid{
    border: 1px solid var(--color-border);
    width: 100%;
    margin-bottom: 10px;
    transition: 0.3s ease;
}

.menu{
    display: flex;
    flex-direction: column;
}

.menu a{
    font-size: 18px;
    font-weight: 600;
    color: var(--color-white);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 20px;
    margin-left: 50px;
    margin-right: 25px;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s ease;
    white-space: nowrap;
}

.menu a span{
    font-size: 22px;
    color: var(--color-icon);
    display: flex;
    align-items: center;
}

.menu a:hover{
    background-color: var(--color-hover-manu) !important;
}

.menu a:hover span{
    color: var(--color-green) !important;
}

.active{
    background-color: var(--color-hover-manu) !important;
}

.active span{
    color: var(--color-green) !important;
}

.collapse{
    font-size: 18px;
    font-weight: 600;
    color: var(--color-white);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 20px;
    margin-left: 50px;
    margin-right: 25px;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s ease;
    background: none;
    border: none;
    margin-top: 50px;
}

.collapse span{
    font-size: 24px;
    color: var(--color-icon);
    display: flex;
    align-items: center;
    transition: 0.3s ease;
}

.collapse:hover{
    background-color: var(--color-hover-manu) !important;
}

.collapse:hover span{
    color: var(--color-green) !important;
}

.rotate{
    transform: scaleX(-1);
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: var(--color-bg-modal-overlay);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 0 10px;
    padding: 0 12px;
  }
  
  .modal {
    position: relative;
    background: var(--color-bg-block);
    padding: 20px;
    border-radius: 16px;
    max-width: 500px;
    width: 100%;
  }
  
  .close_button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: var(--color-close-icon);
    cursor: pointer;
  }

  .modal h2{
    font-size: 22px;
    font-weight: 700;
    color: var(--color-white);
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  .modal p{
    font-size: 16px;
    font-weight: 400;
    color: var(--color-modal-color);
    margin-bottom: 30px;
    text-align: center;
  }

  .ff{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .ff button{
    width: 100%;
    height: 50px;
    border: 1px solid var(--color-darkgray-bort);
    background: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-white);
  }

  .delete_submit{
    color: var(--color-green) !important;
  }

  .h2{
    display: none;
  }

  .arrow{
    display: none;
  }

  @media(max-width:786px){
    .sidebar{
        position: fixed;
        width: 100%;
        height: 110%;
        z-index: 9;
        padding-top: 118px;
        margin-top: -88px;
        background: var(--color-bg-dark);
        left: -100%;
    }

    .close{
        left: 0;
    }

    .h2{
        display: block;
        font-size: 20px;
        font-weight: 600;
        color: var(--color-white);
        margin-left: 50px;
        margin-bottom: 20px;
    }

    .solid{
        display: none;
    }

    .menu a{
        background: var(--color-bg-block);
        border: 1px solid var(--color-border);
    }

    .menu a span{
        color: var(--color-green) !important;
    }

    .collapse{
        display: none;
    }

    .active{
        background-color:var(--color-bg-block) !important;
    }

    .arrow{
        display: block;
        font-size: 24px;
        color: var(--color-text-muted);
        margin-left: auto;
    }
    
}

@media(max-width:575px){
    .h2{
        margin-left: 12px;
        margin-right: 12px;
    }
    .menu a{
        margin-left: 12px;
        margin-right: 12px;
    }

    .user{
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 25px;
    }

    .user h4{
        font-size: 16px;
    }

    .close_button{
        display: none;
    }

    .modal{
        border-radius: 10px;
    }

    .modal h2{
        font-size: 18px;
        margin-bottom: 15px;
    }

    .modal p{
        margin-bottom: 20px;
    }

    .ff{
        gap: 8px;
    }

    .ff button{
        border-radius: 10px;
        font-weight: 700;
    }
}