.parent{
    width: 100%;
    padding: 50px 0;
    position: relative;
    overflow: hidden;
}

.icons{
    position: absolute;
    top: -8px;
    left: 0px;
    z-index: -1;
    display: flex;
    justify-content: space-between;
}

.icons img{
}

.icons_top{
    margin-top: 100px;
    margin-left: -100px;
}

.parent h2{
    text-align: center;
    font-size: 40px ;
    font-weight: 700;
}

.contain_block{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
    margin-top: 40px;
}

.block{
    border-radius: 24px;
    background-color: #FBFAF9;
    padding: 20px 25px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 10px;
}

.mini_block{
    display: flex;
    gap: 8px;
}

.mini_block h5{
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}

.gap{
    display: flex;
    gap: 8px;
}

.p{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.mini_block h6{
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}

.arrow{
    font-size: 24px;
}

@media(max-width:991px){
    .contain_block{
        grid-template-columns: 1fr;
    }
}

@media(max-width:767px){
    .parent h2{
        font-size: 30px;
    }

    .contain_block{
        gap: 8px;
    }
}

@media(max-width:575px){
    .parent{
        padding-top: 20px;
        padding-bottom: 28px;
    }

    .parent h2{
        font-size: 20px;
    }

    .contain_block{
        margin-top: 15px;
        gap: 6px;
    }

    .block{
        border-radius: 15px;
        padding: 15px;
    }

    .mini_block h5{
        font-size: 12px;
        line-height: 1;
    }

    .p{
        font-size: 6px;
        line-height: 1;
        margin-top: 4px;
    }

    .coin{
        display: flex;
        align-items: start;
    }

    .coin img{
        width: 15px;
        height: 15px;
    }

    .mini_block h6{
        line-height: 1.4;
        font-size: 8px;
        font-weight: 500;
    }

    .gap h5{
        font-size: 10px;
        font-weight: 700;
    }

    .arrow{
        font-size: 13px !important;
    }
}