.parent{
    margin-top: 70px;
    margin-bottom: 60px;
}

.parents{
  margin-top: 120px;
  margin-bottom: 172px;
}

.parents h2{
  text-align: left !important;
}

.accordion {
    background-color: #FBFAF9;
    padding:24px 30px;
    padding-bottom: 0;
    border-radius: 15px;
    margin-bottom: 20px;
    transition: 0.3s;
  }

  .title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 22px;
  }

  .title p{
    font-size: 24px;
    font-weight: 400;
  }

  .click{
    border: none;
    background: none;
    cursor: pointer;
    color:#9a9a9a;
    transition: .3s ease;
  }

  .click:hover{
    transform: scale(1.02);
    color:#3a3a3d;
  }

  .rotate{
    transform: rotate(180deg) !important;
  }
  
  .content {
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    text-align: left;
  }
  
  .open {
    max-height: 600px;
    padding-bottom: 20px;
  }

  .name{
    font-size: 40px;
    font-weight: 600;
    color: #101010;
    text-align: center;
    margin-bottom: 60px;
  }

  .next {
    font-size: 24px;
    color: #9a9a9a;
    margin-bottom:20px;
    margin-left: 5px;
}

  
  @media (max-width:767px){
    .parent{
      margin-top: 40px;
    }
    .name{
      font-size: 30px;
      margin-bottom: 50px;
    }

    .accordion{
      margin-bottom: 15px;
    }

    .click{
      font-size: 20px;
    }

    .content{
      font-size: 16px;
    }
    .parents{
      margin-top: 40px;
    }

    .title p{
      font-size: 20px;
      font-weight: 400;
    }
  }

  @media(max-width:575px){

    .parent{
      margin-top: 40px;
      margin-bottom: 20px;
    }

    .name{
      font-size: 20px;
      margin-bottom: 30px;
    }

    .accordion{
      padding-top: 15px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 10px;
      margin-bottom: 10px;
    }

    .title{
      margin-bottom: 15px;
    }
    .content{
      font-size: 14px;
    }

    .title p{
      font-size: 16px;
    }

    .parents{
      margin-top: 20px;
    }
    .parents h2{
      text-align: center !important;
    }
  }