.parent {
    margin-top: 120px;
}

.Allparent{
    margin-bottom: 100px;
}

.Allparent h2{
    margin-top: 46px;
}

.h2{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 23px;
    margin-top: 60px;
}

.block {
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    border-radius: 15px;
}

.image img {
    width: 100%;
    height: 175px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
    object-position: center;
}

.titles{
    padding: 20px;
    padding-top: 10px;
}

.titles a{
    text-decoration: none;
}

.titles h3 {
    font-size: 18px;
    font-weight: 600;
}

.titles p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #313131;
    font-size: 16px;
    font-weight: 400;
    margin-top: 12px;
}

.flex{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
    margin-top: 25px;
}

.flex h6{
    font-size: 12px;
    font-weight: 500;
    color: #313131;
}

.flex a{
    width: 70px;
    height: 17px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #03A39E;
    display: flex;align-items: center;justify-content: center;
}

@media(max-width:991px){
    .list{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:767px){
    .parent{
        margin-top: 70px;
    }
    .h2{
        font-size: 30px;
    }

    .Allparent h2{
        display: none;
    }

    .list{
        grid-template-columns: 1fr ;
        margin-top: 40px;
    }

    .Allparent .list{
        margin-top: 40px !important;
    }
}

@media(max-width:575px){
    .parent{
        margin-top: 20px;
    }

    .list{
        margin-top: 20px;
    }

    .h2{
        font-size: 20px;
    }
}

@media(max-width:493px){
    .list{
        gap: 10px;
    }
    .titles{
        padding: 10px;
        padding-bottom: 12px;
    }

    .titles h3{
        font-size: 16px;
    }

    .titles p{
        font-size: 14px;
        margin-top: 10px;
    }

    .flex{
        gap: 5px;
        margin-top: 15px;
    }

    .flex h6{
        font-size: 10px;
    }

    .flex a{
        border-radius: 4px;
        height: 20px;
        width: 60px;
        font-size: 10px;
    }
}