.parent {
    padding: 50px 0;

}

.parent>h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 600;

}

.parent>p {
    font-size: 24px;
    font-weight: 300;
    color: #717182;
    text-align: center;
    margin-top: 15px;
}

.flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.block {
    border: 1px solid #E5E5E5;
    border-radius: 15px;
    padding: 30px;
}

.block h4 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
}

.block h4 img {
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.block p {
    font-size: 18px;
    font-weight: 400;
    color: #717182;
}

.mini_block {
    display: flex;
    align-items: start;
    gap: 15px;
    margin-top: 25px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.mini_block h5 {
    font-size: 20px;
    font-weight: 500;
    color: #0A0A0A;
    margin-bottom: 2px;
    line-height: 1.3;
}

.solid {
    width: calc(100% + 60px);
    border-top: 1px solid #E5E5E5;
    transform: translateX(-30px);
    margin-top: 40px;
    margin-bottom: 10px;
}

.block>h5 {
    font-size: 20px;
    font-weight: 500;
    color: #313131;
}

.logos {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
}

.div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #03A39E;
    cursor: pointer;
    font-size: 24px;
    color: white;
}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.form label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form input {
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 45px;
    background: #F5F7FA;
    padding: 0 20px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
}

.form textarea {
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 120px;
    background: #F5F7FA;
    padding: 15px 20px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
}

.form button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 15px;
    background: #03A39E;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.map_container {
    width: 100%;
    height: 300px;
    margin-top: 10px;
}

.map {
    width: 100%;
    height: 100%;
}

@media(max-width:767px) {
    .flex {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-width:532px) {
    .parent {
        padding: 30px 0;
    }

    .parent>h2 {
        font-size: 22px;
    }

    .parent>p {
        font-size: 18px;
        font-weight: 300;
        margin-top: 5px;
    }

    .flex {
        margin-top: 20px;
        margin-bottom: 15px;
        gap: 15px;
    }

    .block {
        padding: 15px;
    }

    .block h4 {
        font-size: 16px;
    }

    .block h4 img {
        width: 20px;
        height: 20px;
    }

    .block p {
        font-size: 14px;
    }

    .mini_block {
        gap: 13px;
    }
    
    .icons {
        font-size: 22px;
    }
    
    .mini_block h5 {
        font-size: 16px;
    }

    .solid{
        margin: 20px 0;
        width: calc(100% + 30px);
    transform: translateX(-15px);
    }

    .block>h5{
        font-size: 16px;
    }

    .logos{
        margin-top: 10px;
    }

    .form label{
        font-size: 14px;
    }

    .form input{
        font-size: 14px;
        margin-bottom: 10px;
    }

    .form textarea{
        font-size: 14px;
    }

    .form button{
        font-size: 14px;
    }


}