.parent{
  position: relative;
  z-index: 1;
  padding-bottom: 100px;
  margin-top: 100px;
}

.content {
  border-radius: 16px;
  background-color: #ffffff;
  width: 100%;
}

.block_container {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 10px;
}

.block_one{
  padding-top: 84px;
  padding-left: 40px;
  padding-right: 100px;
  border-right: 2px solid black;
}

.df{
  display: flex;
  align-items: start;
  gap: 8px;
  margin-bottom: 30px;
}

.df div span{
  font-size: 18px;
  font-weight: 500;
}

.df div p{
  font-size: 16px;
  font-weight: 300;
  color: #6f6f6f;
  margin-top: 5px;
}

.block_two {
  border-radius: 16px;
  padding: 25px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex h3{
  font-size: 20px;
  font-weight: 700;
}

.stages {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-top: 30px;
}

.stage {
  width: 100%;
  height: 5px;
  border-radius: 999px;
  background-color: #eeeeee;
}

.active_stage {
  background-color: #03A39E;
}

.timer_block {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 14px;
  margin-top: 25px;
}

.timer_block div{
  display: flex;
  align-items: center;
  gap: 10px;
}

.timer_block p {
  font-size: 16px;
  font-weight: 600;
}

.timer_block p span{
  font-weight: 400;
}

.count {
  font-weight: 700;
  font-size: 16px;
}

.data {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.data div {
  display: flex;
  justify-content: space-between;
}

.p {
  color: #6f6f6f;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
}

.data h5 {
  font-size: 18px;
  font-weight: 500;
  text-align: end;
}

.column{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.last_change {
  background-color: #FBFAF9;
  border-radius: 15px;
  padding: 16px;
  margin-top: 30px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column>div{
  margin: 0;
}

.contain_many h5 {
  font-size: 16px;
  font-weight: 600;
}

.many {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 8px;
}

.details img{
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.arrow {
  margin-top: 10px;
}

.commission {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 10px;
}

.commission p {
  font-size: 12px;
  font-weight: 400;
  color: #6f6f6f;
}

.commission span {
  font-size: 16px;
  font-weight: 500;
  color: #03a39e;
}

.vvod_adres{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.vvod_adres label{
  font-size: 16px;
  font-weight: 500;
}

.vvod_adres input{
  border: 1px solid #66686A33;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  padding: 0 20px;
}

.loader {
  width: 45px;
  height: 45px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}

.submit {
  width: 100%;
  height: 50px;
  background-color: #03a39e;
  border-radius: 15px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  margin-top: auto;
}

.cant {
  font-size: 14px;
  font-weight: 600;
  color: #6f6f6f;
  background: none;
  border: none;
  margin-top: 25px;
  width: 100%;
  cursor: pointer;
}

.close {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  background: #03A39E;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 70px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.succes{
  background: #09B710;
  font-size: 45px;
}

.close_number {
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}

.close_text {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #171616;
  margin-top: 30px;
}

.close_submit{
  width: 100%;
  height: 50px;
  border: none;
  background-color: #03A39E;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.block_thre{
  border-left: 2px solid black;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 25px;
  padding-top: 30px;
}

.block_thre>p{
  font-size: 16px;
  font-weight: 500;
  color: #6f6f6f;
  line-height: 1.6;
  margin-bottom: 20px;
}

.coppy h4{
  word-break: break-all;
  white-space: normal;
  font-size: 22px;
  font-weight: 500;
}

.coppy span{
  font-size: 24px;
  margin-left: 10px;
}

.qr_contain{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.qr{
  border-radius: 15px;
  background: #F5F5F5;
  padding: 24px;
  margin: 0 auto;
}

.qr canvas{
  width: 260px !important;
  height: 260px !important;
  border-radius: 15px;
}

.button{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 10px;
  max-width: 309px;
}

.button button{
  height: 45px;
  width: 100%;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  background: #F5F5F5;
  color: #85888e;
  transition: 0.3s ease;
}

.active_button {
  background: #03A39E !important;
  color: #fff !important;
}

@media(max-width:991px){
  .block_one{
    padding: 25px;
  }
}

@media(max-width:767px){
  .block_container {
    grid-template-columns: 1fr;
  }

  .block_one{
    border-right: none;
    border-bottom: 2px solid black;
    padding-right: 40px;
  }
}